.square {
  background: #fff;
  border: 5px solid #999;
  /* font-size: 11vw; */
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 11%;
}

.board-row{
    display: flex;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-top: 15px;
}
