.square {
  background: #fff;
  border: 5px solid #999;
  font-size: 11vw;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 33%;
  padding-top: 12%;
  padding-bottom: 11%;
}

.board-row{
    display: flex;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  margin-top: 15px;
}

.game-info {
  margin-left: 10%;
  list-style: none;
  width: 20%;
  text-align: center;
}

.game-board {
  width: 70%;
}
